* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
body {
    line-height: 1.6;
    color: #333;
}

header {
    background: #009688;
    color: white;
    padding: 10px 10px;
    text-align: center;
    position: relative;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

nav ul li {
    margin: 0 15px;
}
.hero-text {
    max-width: 600px;
    margin: 0 auto;
}
.hero-text h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}
.hero-text p {
    font-size: 1.2em;
    margin-bottom: 20px;
}
.container {
    width: 80%;
    margin: 0 auto;
    padding: 30px 0;
}
h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #009688;
}
.content, .cause-stories, form {
    background: #f4f4f4;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
}
.cause-stories {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.story {
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex: 1;
    margin: 10px;
    text-align: center;
}

.story h3 {
    color: #009688;
    margin-bottom: 10px;
}

.all-pictures {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.image img {
    width: 300px;
    height: 200px;
    object-fit: cover;
    border-style:groove ;
    
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 10px;
}
form .form-group {
    margin-bottom: 20px;
}
form label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}
form input, form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

.btn-primary {
    background: #ff5722;
    color: white;
}
.btn-secondary {
    background: #009688;
    color: white;
    border: none;
}

div ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.barcode img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-style:groove ;
    
    padding: 20px;
    border-radius: 5px;
    justify-content: center;
    
    margin: 10px;
}
.barcode {
    display: flex;
    justify-content: center;
    align-items: center;    
}

footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
}
