* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
body {
    line-height: 1.6;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background: linear-gradient(to right, #009688, #4caf50);
    border-style: solid;
    border-radius: 5%;
 
    color: white;
    padding: 10px 10px;
    text-align: center;
    position: relative;
    box-shadow: 3px 15px  rgba(0, 0, 0, 0.1);
}

.logo-container img{
    width: 180px; 
    height: 140px; 
    border-radius: 50%;
    align-items: center;
    background-color: white;
    padding: 10px;
    object-fit:cover; 
    border: 5px solid #444343; 
}

.some-story p , .content p {
    text-align: justify;
  }
  
.content p {
    text-align: justify;
    line-height: 1.6;
}
.content strong {
    color:#388e3c; 
    font-weight: bold;
}
.content  {

    text-align: center;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    padding-left: 0;
}
nav ul li a:hover {
    color: #ffeb3b;
} 

nav ul li  {
    margin: 0 5px ; 
}
nav ul li a {
   
    
    padding: 10px 30px;
    align-items: center;
    font-size: x-large;
    display: flex;
    margin: 0 12px ;
    transition: color 0.3s;
    letter-spacing: .4px;
}
.join-us {
    display: flex;
    font-weight: bold;
    align-items: center;
    gap: 10px;
}
.join-us p {
    font-size: 1.1em;
}

.join-us a{
    
    display: flex;
    font-weight: bold;
    align-items: center;
    transition: color 0.3s;
}
.join-us a:hover {
    color: #ffeb3b;
}

/*.join-us p::after {
    content: " \1F449";  Unicode for "👉" From css we can also add as wll as from HTML
} 
*/

.hero-text {
    max-width: 700px;
    margin: 20px auto;
    text-align: center;
}
.hero-text h1 {
    font-size: 3em;
    margin-bottom: 10px;
    letter-spacing: 2px;
}
.hero-text p {
    font-size: 1.2em;
    margin-bottom: 20px;
}
.container {
    width: 90%;
    margin: 0 auto;
    padding: 30px 0;
    justify-content: center;
}
h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #009688;
}
.content, .cause-list, form , .some-story{
    background: #f4f4f4;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
}
.cause-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.list {
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex: 1;
    margin: 10px;
    text-align: center;
}

.list h3 {
    color: #009688;
    margin-bottom: 10px;
}

.all-pictures {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.image img {
    width: 300px;
    height: 200px;
    object-fit: cover;
    border-style:outset ;

    padding: 20px;
    border-radius: 80px;
    box-shadow: 0 10px    rgba(60, 255, 0, 0.1);
    margin: 10px;
}

.story-image  {
    display: flex;
    justify-content:auto; 
    flex-wrap: wrap;
}
.some-story img{
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-style:inset ;
    
    padding: 20px;
    border-radius: 200px;
    box-shadow: 0 15px 0 0 rgba(72, 255, 0, 0.1);
    margin: 10px; 
}
.first-story p {
    text-align: justify;
    line-height: 1.6;
}

.first-story .highlight-text,.second-story .highlight-text {
    font-weight: bold;
    color: #388e3c;
}

.first-story strong {
    font-weight: bold;
}

form .form-group {
    margin-bottom: 20px;
}
form label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}
form input, form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 50px;
    cursor: pointer;
    text-align: center;
    transition: background 0.3s, transform 0.3s;
}

.btn-primary {
    background: #ff5722;
    color: white;
}
.btn-primary:hover {
    background: #e64a19;
    transform: scale(1.05);
}

.btn-secondary {
    background: #009688;
    color: white;
    border: none;
}

div ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.barcode img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-style:groove ;
    
    padding: 20px;
    border-radius: 5px;
    justify-content: center;
    
    margin: 10px;
}
.barcode {
    display: flex;
    justify-content: center;
    align-items: center;    
}

footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
}

.center-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#donate .content,#donate_now .content{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
#donate .content .btn{
    margin-top: 10px;
}
.none {
    display: none;
}

footer .new-font p {
  font-family: "Playwrite AU VIC", cursive;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  text-decoration: underline;
}
@media (max-width: 768px)
{
    nav ul li a {
        align-items: center;
        display: flex;
    }
    nav ul {
        flex-direction: column;
        align-items: center;
    }
    nav ul li {
        font: size large;
        margin: 3px 0;
    }
    .story-container {
        flex-direction: column;
    }
    .story-image {
        max-width: 100%;
        margin-bottom: 10px;
    }
    .story-images {
        flex-direction: column;
    }
}