/* styles.css */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #f0f0f0;
    margin: 0;
    font-family: 'Arial', sans-serif;
  }
  
  .calculator {
    background: #222;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 400px;
  }
  
  .display {
    background: #444;
    border-radius: 10px;
    color: #fff;
    font-size: 2rem;
    padding: 20px;
    text-align: right;
    margin-bottom: 20px;
  }
  
  .buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
  }
  
  .btn {
    background: #333;
    border: none;
    border-radius: 10px;
    color: #fff;
    font-size: 1.5rem;
    padding: 20px;
    cursor: pointer;
    transition: background 0.3s;
  }
  
  .btn:hover {
    background: #555;
  }
  
  .operator {
    background: #da953a;
  }
  
  .operator:hover {
    background: #f2a200;
  }
  
  #equal {
    background: #00b894;
  }
  
  #equal:hover {
    background: #00d2aa;
  }
  
  
  #clear {
    background: #df4949;
    grid-column: span 2;
    
  }
  
  #clear:hover {
    background: #e74c3c;
  }
  /* Media queries for responsiveness */
@media screen and (max-width: 600px) {
    .calculator {
        max-width: 300px;
    }

    .btn {
        font-size: 1.2rem; 
        padding: 15px; 
    }

    .display {
        font-size: 1.5rem; 
        padding: 15px; 
    }
}

/* Dark mode styles */
body.dark-mode {
    background-color: #333;
    color: #fff;
}

.calculator.dark-mode {
    background-color: #222;
    color: #fff;
}

.display.dark-mode {
    background-color: #555;
    color: #fff;
}

.btn.dark-mode {
    background-color: #444;
    color: #fff;
}

/* Theme toggle button styles */
.theme-toggle-btn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px;
    color: #e5d41c;
    transition: color 0.3s;
}

.theme-toggle-btn:hover {
    color: #a5a2a2;
}

.theme-toggle-btn .fas {
    margin: 0 8px;
}

.theme-toggle-btn .fas.fa-moon {
    display: none;
}

.dark-mode .theme-toggle-btn .fas.fa-sun {
    display: none;
}

.dark-mode .theme-toggle-btn .fas.fa-moon {
    display: inline-block;
}



  